doctype html
//if IE 8
  html.ie8(lang='en')  
//if IE 9
  html.ie9(lang='en')  
// [if !IE] <!
html(lang='en')
  // <![endif]
  head
    title Responsive website template for documentations
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='favicon.ico')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='plugins/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='plugins/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', href='plugins/prism/prism.css')
    link(rel='stylesheet', href='plugins/lightbox/dist/ekko-lightbox.min.css')
    link(rel='stylesheet', href='plugins/elegant_font/css/style.css')
    link#theme-style(rel='stylesheet', href='css/styles.css')
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  body.body-blue
    .page-wrapper
      header#header.header
        .container
          .branding
            h1.logo
              a(href='index')
                span.icon_documents_alt.icon(aria-hidden='true')
                |  
                span.text-highlight Pretty
                span.text-bold Docs
          ol.breadcrumb
            li
              a(href='index') Home
            li.active Charts
      .doc-wrapper
        .container
          #doc-header.doc-header.text-center
            h1.doc-title
              span.icon.icon_datareport_alt(aria-hidden='true')
              |  Charts
            .meta
              i.fa.fa-clock-o
              |  Last updated: Jan 25th, 2016
          .doc-body
            .doc-content
              .content-inner
                section#chartjs.doc-section
                  h2.section-title Chart.js
                  .section-block
                    h3.block-title 1. Screenshot
                    p
                      | The screenshots used in this page are taken from 
                      a(href='https://wrapbootstrap.com/theme/appkit-admin-theme-angularjs-WB051SCJ1?ref=3wm', target='_blank') AppKit
                      | . AppKit is a Bootstrap Angular admin theme.
                    .screenshot-holder
                      a(href='https://wrapbootstrap.com/theme/appkit-admin-theme-angularjs-WB051SCJ1?ref=3wm', target='_blank')
                        img.img-responsive(src='images/demo/appkit-chart-chartjs.jpg', alt='screenshot')
                      a.mask(href='https://wrapbootstrap.com/theme/appkit-admin-theme-angularjs-WB051SCJ1?ref=3wm', target='_blank')
                        i.icon.fa.fa-link
                  .section-block
                    h3.block-title 2. Global Configurations
                    p
                      strong
                        i.fa.fa-external-link-square
                        |  Source:
                      |  
                      a(href='http://www.chartjs.org/docs/', target='_blank') http://www.chartjs.org/docs/
                    .code-block
                      pre
                        code.language-javascript.
                          Chart.defaults.global = {
                              // Boolean - Whether to animate the chart
                              animation: true,

                              // Number - Number of animation steps
                              animationSteps: 60,

                              // String - Animation easing effect
                              // Possible effects are:
                              // [easeInOutQuart, linear, easeOutBounce, easeInBack, easeInOutQuad,
                              //  easeOutQuart, easeOutQuad, easeInOutBounce, easeOutSine, easeInOutCubic,
                              //  easeInExpo, easeInOutBack, easeInCirc, easeInOutElastic, easeOutBack,
                              //  easeInQuad, easeInOutExpo, easeInQuart, easeOutQuint, easeInOutCirc,
                              //  easeInSine, easeOutExpo, easeOutCirc, easeOutCubic, easeInQuint,
                              //  easeInElastic, easeInOutSine, easeInOutQuint, easeInBounce,
                              //  easeOutElastic, easeInCubic]
                              animationEasing: &#x22;easeOutQuart&#x22;,

                              // Boolean - If we should show the scale at all
                              showScale: true,

                              // Boolean - If we want to override with a hard coded scale
                              scaleOverride: false,

                              // ** Required if scaleOverride is true **
                              // Number - The number of steps in a hard coded scale
                              scaleSteps: null,
                              // Number - The value jump in the hard coded scale
                              scaleStepWidth: null,
                              // Number - The scale starting value
                              scaleStartValue: null,

                              // String - Colour of the scale line
                              scaleLineColor: &#x22;rgba(0,0,0,.1)&#x22;,

                              // Number - Pixel width of the scale line
                              scaleLineWidth: 1,

                              // Boolean - Whether to show labels on the scale
                              scaleShowLabels: true,

                              // Interpolated JS string - can access value
                              scaleLabel: &#x22;&#x3C;%=value%&#x3E;&#x22;,

                              // Boolean - Whether the scale should stick to integers, not floats even if drawing space is there
                              scaleIntegersOnly: true,

                              // Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
                              scaleBeginAtZero: false,

                              // String - Scale label font declaration for the scale label
                              scaleFontFamily: &#x22;&#x27;Helvetica Neue&#x27;, &#x27;Helvetica&#x27;, &#x27;Arial&#x27;, sans-serif&#x22;,

                              // Number - Scale label font size in pixels
                              scaleFontSize: 12,

                              // String - Scale label font weight style
                              scaleFontStyle: &#x22;normal&#x22;,

                              // String - Scale label font colour
                              scaleFontColor: &#x22;#666&#x22;,

                              // Boolean - whether or not the chart should be responsive and resize when the browser does.
                              responsive: false,

                              // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
                              maintainAspectRatio: true,

                              // Boolean - Determines whether to draw tooltips on the canvas or not
                              showTooltips: true,

                              // Function - Determines whether to execute the customTooltips function instead of drawing the built in tooltips (See [Advanced - External Tooltips](#advanced-usage-custom-tooltips))
                              customTooltips: false,

                              // Array - Array of string names to attach tooltip events
                              tooltipEvents: [&#x22;mousemove&#x22;, &#x22;touchstart&#x22;, &#x22;touchmove&#x22;],

                              // String - Tooltip background colour
                              tooltipFillColor: &#x22;rgba(0,0,0,0.8)&#x22;,

                              // String - Tooltip label font declaration for the scale label
                              tooltipFontFamily: &#x22;&#x27;Helvetica Neue&#x27;, &#x27;Helvetica&#x27;, &#x27;Arial&#x27;, sans-serif&#x22;,

                              // Number - Tooltip label font size in pixels
                              tooltipFontSize: 14,

                              // String - Tooltip font weight style
                              tooltipFontStyle: &#x22;normal&#x22;,

                              // String - Tooltip label font colour
                              tooltipFontColor: &#x22;#fff&#x22;,

                              // String - Tooltip title font declaration for the scale label
                              tooltipTitleFontFamily: &#x22;&#x27;Helvetica Neue&#x27;, &#x27;Helvetica&#x27;, &#x27;Arial&#x27;, sans-serif&#x22;,

                              // Number - Tooltip title font size in pixels
                              tooltipTitleFontSize: 14,

                              // String - Tooltip title font weight style
                              tooltipTitleFontStyle: &#x22;bold&#x22;,

                              // String - Tooltip title font colour
                              tooltipTitleFontColor: &#x22;#fff&#x22;,

                              // Number - pixel width of padding around tooltip text
                              tooltipYPadding: 6,

                              // Number - pixel width of padding around tooltip text
                              tooltipXPadding: 6,

                              // Number - Size of the caret on the tooltip
                              tooltipCaretSize: 8,

                              // Number - Pixel radius of the tooltip border
                              tooltipCornerRadius: 6,

                              // Number - Pixel offset from point x to tooltip edge
                              tooltipXOffset: 10,

                              // String - Template string for single tooltips
                              tooltipTemplate: &#x22;&#x3C;%if (label){%&#x3E;&#x3C;%=label%&#x3E;: &#x3C;%}%&#x3E;&#x3C;%= value %&#x3E;&#x22;,

                              // String - Template string for multiple tooltips
                              multiTooltipTemplate: &#x22;&#x3C;%= value %&#x3E;&#x22;,

                              // Function - Will fire on animation progression.
                              onAnimationProgress: function(){},

                              // Function - Will fire on animation completion.
                              onAnimationComplete: function(){}
                            }
                section#flot.doc-section
                  h2.section-title Flot Charts
                  .section-block
                    h3.block-title 1. Screenshot
                    .screenshot-holder
                      a(href='https://wrapbootstrap.com/theme/appkit-admin-theme-angularjs-WB051SCJ1?ref=3wm', target='_blank')
                        img.img-responsive(src='images/demo/appkit-chart-flot.jpg', alt='screenshot')
                      a.mask(href='https://wrapbootstrap.com/theme/appkit-admin-theme-angularjs-WB051SCJ1?ref=3wm', target='_blank')
                        i.icon.fa.fa-link
                  .section-block
                    h3.block-title 2. Basic Usage
                    p
                      strong
                        i.fa.fa-external-link-square
                        |  Source:
                      |  
                      a(href='https://github.com/flot/flot/blob/master/README.md', target='_blank') https://github.com/flot/flot/blob/master/README.md
                    p Create a placeholder div to put the graph in:
                    p
                      pre.
                        
                    p
                      | You need to set the width and height of this div, otherwise the plot library doesn&apos;t know how to scale the graph. You can do it inline like this:
                    p
                      pre.
                        
                    p
                      | You can also do it with an external stylesheet. Make sure that the placeholder isn&apos;t within something with a display:none CSS property - in that case, Flot has trouble measuring label dimensions which results in garbled looks and might have trouble measuring the placeholder dimensions which is fatal (it&apos;ll throw an exception).
                    p
                      | Then when the div is ready in the DOM, which is usually on document ready, run the plot function:
                    p
                      pre.
                        
                    p
                      | Here, data is an array of data series and options is an object with settings if you want to customize the plot. Take a look at the examples for some ideas of what to put in or look at the 
                      a(href='#') API reference
                      | . Here&apos;s a quick example that&apos;ll draw a line from (0, 0) to (1, 1):
                    p
                      pre.
                        
                    p
                      | The plot function immediately draws the chart and then returns a plot object with a couple of methods.
                section#morris.doc-section
                  h2.section-title Morris.js
                  .section-block
                    h3.block-title 1. Screenshot
                    .screenshot-holder
                      a(href='https://wrapbootstrap.com/theme/appkit-admin-theme-angularjs-WB051SCJ1?ref=3wm', target='_blank')
                        img.img-responsive(src='images/demo/appkit-chart-flot.jpg', alt='screenshot')
                      a.mask(href='https://wrapbootstrap.com/theme/appkit-admin-theme-angularjs-WB051SCJ1?ref=3wm', target='_blank')
                        i.icon.fa.fa-link
                  .section-block
                    h3.block-title 2. Getting Started
                    p
                      | Add 
                      strong morris.js
                      |  and its dependencies (
                      a(href='#') jQuery
                      |  &amp; 
                      a(href='#') Rapha&euml;l
                      | ) to your page.
                    p
                      pre.
                        
                  .section-block
                    h3.block-title 3. Your first chart
                    p
                      | Start by adding a 
                      code &lt;div&gt;
                      |  to your page that will contain your chart. Make sure it has an ID so you can refer to it in your Javascript later.
                    p
                      pre.
                        
                    .callout-block.callout-info
                      .icon-holder
                        i.fa.fa-info-circle
                      .content
                        h4.callout-title Note:
                        p
                          | in order to display something, you&rsquo;ll need to have given the div some dimensions. Here I&rsquo;ve used inline CSS just for illustration.
                    p
                      | Next add a 
                      code &lt;script&gt;
                      |  block to the end of your page, containing the following javascript code:
                    p
                      pre.
                        
                section#inline.doc-section
                  h2.section-title Inline Charts
                  .section-block
                    h3.block-title 1. Screenshot
                    .screenshot-holder
                      a(href='https://wrapbootstrap.com/theme/appkit-admin-theme-angularjs-WB051SCJ1?ref=3wm', target='_blank')
                        img.img-responsive(src='images/demo/appkit-chart-inline.jpg', alt='screenshot')
                      a.mask(href='https://wrapbootstrap.com/theme/appkit-admin-theme-angularjs-WB051SCJ1?ref=3wm', target='_blank')
                        i.icon.fa.fa-link
                  .section-block
                    h3.block-title 2. Charts Used
                    p
                      | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                    ul.list.list-unstyled
                      li
                        a(href='#', target='_blank')
                          i.fa.fa-external-link-square
                          |  Peity
                      li
                        a(href='#', target='_blank')
                          i.fa.fa-external-link-square
                          |  Easy Pie Chart
                      li
                        a(href='#', target='_blank')
                          i.fa.fa-external-link-square
                          |  Sparklines
                  .section-block
                    .jumbotron.text-center
                      h1 Jumbotron Example
                      p
                        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                      ul.list.list-inline.center-block
                        li
                          a.btn.btn-cta.btn-pink(href='https://wrapbootstrap.com/theme/appkit-admin-theme-angularjs-WB051SCJ1?ref=3wm', target='_blank')
                            i.fa.fa-external-link
                            |  AppKit Details
                        li
                          a.btn.btn-cta.btn-primary(href='https://wrapbootstrap.com/theme/appkit-admin-theme-angularjs-WB051SCJ1?ref=3wm', target='_blank')
                            i.fa.fa-eye
                            |  AppKit Demo
            .doc-sidebar
              nav#doc-nav
                ul#doc-menu.nav.doc-menu.hidden-xs(data-spy='affix')
                  li
                    a.scrollto(href='#chartjs') Chart.js
                  li
                    a.scrollto(href='#flot') Flot Charts
                  li
                    a.scrollto(href='#morris') Morris.js
                  li
                    a.scrollto(href='#inline') Inline Charts
      #promo-block.promo-block.promo-block-2
        .container
          .promo-block-inner
            h3.promo-title.text-center
              i.fa.fa-heart
              |  
              a(href='https://wrapbootstrap.com/theme/appkit-admin-theme-angularjs-WB051SCJ1?ref=3wm', target='_blank') AppKit - Bootstrap Angular Admin Theme for Developers
            .row
              .figure-holder.col-md-5.col-sm-6.col-xs-12
                .figure-holder-inner
                  a(href='https://wrapbootstrap.com/theme/appkit-admin-theme-angularjs-WB051SCJ1?ref=3wm', target='_blank')
                    img.img-responsive(src='images/demo/appkit-dashboard-2-thumb.jpg', alt='AppKit Theme')
                  a.mask(href='https://wrapbootstrap.com/theme/appkit-admin-theme-angularjs-WB051SCJ1?ref=3wm', target='_blank')
                    i.icon.fa.fa-heart.pink
              .content-holder.col-md-7.col-sm-6.col-xs-12
                .content-holder-inner
                  .desc
                    h4.content-title
                      strong Love this free documentation theme?
                    p
                      | Check out AppKit - an Angular admin theme I created with my developer friend 
                      a(href='https://twitter.com/tnajdek') Tom Najdek
                      |  for developers. AppKit uses modern front-end technologies and is packed with useful components and widgets to speed up your app development.
                    p
                      strong.highlight [Tip for developers]:
                      |  If your project is Open Source, you can use this area to promote your other projects or hold third party adverts like Bootstrap and FontAwesome do!
                    |  
                    a.btn.btn-cta(href='https://wrapbootstrap.com/theme/appkit-admin-theme-angularjs-WB051SCJ1?ref=3wm', target='_blank') View Demo
                  .author
                    a(href='http://themes.3rdwavemedia.com') Xiaoying Riley
    footer#footer.footer.text-center
      .container
        small.copyright
          | Designed with
          i.fa.fa-heart
          |  by 
          a(href='http://themes.3rdwavemedia.com/', target='_blank') Xiaoying Riley
          |  for developers
    script(type='text/javascript', src='plugins/jquery-1.12.3.min.js')
    script(type='text/javascript', src='plugins/bootstrap/js/bootstrap.min.js')
    script(type='text/javascript', src='plugins/prism/prism.js')
    script(type='text/javascript', src='plugins/jquery-scrollTo/jquery.scrollTo.min.js')
    script(type='text/javascript', src='plugins/lightbox/dist/ekko-lightbox.min.js')
    script(type='text/javascript', src='plugins/jquery-match-height/jquery.matchHeight-min.js')
    script(type='text/javascript', src='js/main.js')
